<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>en-GB</string>
		<string>en-CA</string>
		<string>it</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>pt</string>
		<string>pt-BR</string>
		<string>nl</string>
		<string>sv</string>
		<string>nb</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>trackCO2 uses your location to fetch local weather conditions and suggest the best time to walk instead of drive.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
